In [1]:
import requests
import pandas as pd

In [30]:
API_URL = 'http://127.0.0.1:8000/predict'
bacth = "vieytes"
predict=1

In [31]:
url = f'{API_URL}?batch_name={bacth.lower()}&predict={predict}'
print(url)

http://127.0.0.1:8000/predict?batch_name=vieytes&predict=1

In [40]:
response = requests.get(url)
response

In [48]:
if response.status_code != 200:
    print('error')

json = response.json()
json["data"]

{'0': 0.056705}

In [50]:
data = pd.DataFrame.from_dict(json)
data

       data
0  0.056705

In [6]:
path = "gs://wagon-data-840-pasture_predict/data/predict_vieytes_200.csv"
nrows=100
df = pd.read_csv(path, nrows=nrows)

In [8]:
df

    Unnamed: 0         ds      yhat  yhat_lower  yhat_upper
0            0  18/2/2002  0.040589           0           0
1            1  26/2/2002  0.043772           0           0
2            2   6/3/2002  0.043273           0           0
3            3  14/3/2002  0.041751           0           0
4            4  22/3/2002  0.038546           0           0
..         ...        ...       ...         ...         ...
95          95  13/3/2004  0.041061           0           0
96          96  21/3/2004  0.038857           0           0
97          97  29/3/2004  0.035723           0           0
98          98   6/4/2004  0.035547           0           0
99          99  14/4/2004  0.033807           0           0

[100 rows x 5 columns]